body{
    background: rgb(220, 193, 184);
    height: auto;
}
header{
    height: auto;
    background-color: rgb(188, 217, 236);
    margin: 1em;

}

footer{
    background-color: rgb(222, 192, 155);
}

section{
    background-color: rgb(215, 236, 215);
    margin: 1em;
}